<tr *ngIf="product">
  <td>{{product.id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.quantity}}</td>
  <td>{{product.selected}}</td>
  <td>{{product.available}}</td>
  <td>
    <button (click)="onSelect(product)" [ngClass]="product.selected?'btn-outline-danger':'btn-outline-success'" class="btn btn-sm m-1">
      <span *ngIf="product.selected">Unselect</span>
      <span *ngIf="!product.selected">Select</span>
    </button>
  </td>
  <td>
    <button (click)="onDelete(product)" class="btn btn-sm btn-outline-danger m-1">
      <span class="fa fa-trash"></span>
    </button>
    <button (click)="onEdit(product)" class="btn btn-sm btn-outline-primary m-1">
      <span class="fa fa-pencil"></span>
    </button>
  </td>
</tr>
